<form method="post" action="?type=<%= type; %>&method=post">

    <!-- password -->
    <div>
        <label for="password">Password:</label>
        <input id="password" type="password" name="password" placeholder="Password">
    </div>

    <!-- Confirm password -->
    <div>
        <label for="confirm-password">Confirm:</label>
        <input id="confirm-password" type="password" name="confirmPassword" placeholder="Confirm">
    </div>

    <!-- Submit -->
    <div>
        <button type="submit">Change Password</button>
    </div>
</form>