:root {
  // header
  --header-height: 46px;

  // category
  --category-width: 200px;
}

/************************************
* Responsive
************************************/
@include responsive('mobile') {
  :root {
    // category
    --category-width: 100%;
  }
}