<form method="post" action="?type=<%= type; %>&method=post">

    <div class="form-fields">
        <!-- email -->
        <div class="field">
            <label for="email">Email:</label>
            <input id="email" type="email" name="email" placeholder="Email" required>
        </div>

        <!-- Submit -->
        <div class="field">
            <button type="submit" class="btn_primary w100">Send</button>
        </div>
    </div>
</form>