<form method="post" action="?type=<%= type; %>&method=post" data-form-submit>

    <div class="form-fields">
        <!-- email -->
        <div class="field vertical-layout">
            <label for="email">Email:</label>
            <input id="email" type="email" name="email" placeholder="Email" data-email-input>
            <div class="description error">The email is invalid</div>
        </div>

        <!-- Submit -->
        <div class="field">
            <button type="submit" class="btn_primary w100">Send</button>
        </div>
    </div>
</form>