<form method="post" action="?type=<%= type; %>&token=<%= resetUrlToken%>&method=post">

    <div class="form-fields">

        <!-- password -->
        <div class="field">
            <label for="password">Password:</label>
            <input id="password" type="password" name="password" placeholder="Password" required>
        </div>

        <!-- Confirm password -->
        <div class="field">
            <label for="confirm-password">Confirm:</label>
            <input id="confirm-password" type="password" name="confirmPassword" placeholder="Confirm" required>
        </div>

        <!-- Submit -->
        <div class="field">
            <button type="submit" class="btn_primary w100">Change Password</button>
        </div>

    </div>

</form>