<form method="post" action="?type=<%= type; %>&token=<%= resetUrlToken %>&method=post" data-form-submit>

    <div class="form-fields">

        <!-- password -->
        <div class="field vertical-layout">
            <label for="password">Password:</label>
            <input id="password" type="password" name="password" placeholder="Password" data-password-input>
            <div class="description error">The password must contain at least 8 characters</div>
        </div>

        <!-- Confirm password -->
        <div class="field vertical-layout">
            <label for="confirm-password">Confirm:</label>
            <input id="confirm-password" type="password" name="confirmPassword" placeholder="Confirm"
                   data-confirm-password-input>
            <div class="description error">Don't match with the password</div>
        </div>

        <!-- Submit -->
        <div class="field">
            <button type="submit" class="btn_primary w100">Change Password</button>
        </div>

    </div>

</form>