<form method="post" action="?type=sign-in&method=post" data-form-submit>

    <div class="form-fields">

        <!-- email -->
        <div class="field vertical-layout">
            <label for="email">Email:</label>
            <input id="email" type="email" name="email" placeholder="Email" data-email-input>
            <div class="description error">The email is invalid</div>
        </div>

        <!-- password -->
        <div class="field vertical-layout">
            <label for="password">Password:</label>
            <input id="password" type="password" name="password" placeholder="Password" data-password-input>
            <div class="description error">The password must contain at least 8 characters</div>
        </div>

        <!-- Forgot password -->
        <div class="field txt_14px">
            <a href="/register?type=forget-password">Forgot password?</a>
        </div>

        <!-- Button -->
        <div class="field">
            <button type="submit" class="btn_primary w100">Sign In</button>
        </div>

        <!-- Sign up -->
        <div class="field txt_14px ta-center">
            <span class="w100">Don't have a CMS account yet? <a href="/register?type=sign-up">Sign up!</a> or</span>
        </div>

        <div class="field txt_14px ta-center">
            <span class="w100">Back to <a href="/">our site!</a></span>
        </div>

    </div>

</form>