/**
* Header
**/
.admin-panel {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;

  min-height: var(--header-height);
  padding: .5rem 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: var(--color-primary);
}
