/********************************
* Media popup in media page
********************************/
.media-popup {
  width: 100%;

  &__col {
    width: 100%
  }

  // min width 768px
  @include responsive('tablet-v', true) {
    &__col--left {
      width: 60%;
      padding-right: 2rem
    }

    &__col--right {
      width: 40%;
    }
  }

  // max width 768px
  @include responsive('tablet-v') {
    &__col--left {
      margin-bottom: 2rem;
    }
  }
}

/********************************
* Media popup in page builder
********************************/
[data-pb] .media-popup {
  // layout for the list
  [data-media-list] {
    gap: .8rem;
    margin-bottom: 1.6rem;

    // item
    [data-media] {
      flex-basis: 130px;
      aspect-ratio: 3/2;

      background: transparent;
      border: none;

      // responsive
      @include responsive('tablet-v') {
        flex-basis: 100px;
      }

      // label
      label {
        cursor: pointer;
      }

      // hide the radio and checkbox
      input[type="radio"],
      input[type="checkbox"] {
        display: none;
      }

      // media item
      [data-media-item] {
        position: relative;

        padding: .4rem;
        border: 2px solid var(--color-gray);

        // checked
        &:before,
        &:after {
          content: "";

          position: absolute;
          top: 0;
          right: 0;

          width: 20px;
          height: 20px;

          // hidden by default
          opacity: 0;

          transition: opacity .3s ease;
        }

        // background
        &:before {
          background: var(--color-secondary);
        }

        // checked icon
        &:after {
          content: "✓";
          color: white;

          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      // hover and checked
      &:hover [data-media-item],
      &:focus [data-media-item],
      input[type="radio"]:checked + [data-media-item],
      input[type="checkbox"]:checked + [data-media-item] {
        border-color: var(--color-secondary);
      }


      input[type="radio"]:checked + [data-media-item]:before,
      input[type="radio"]:checked + [data-media-item]:after,
      input[type="checkbox"]:checked + [data-media-item]:before,
      input[type="checkbox"]:checked + [data-media-item]:after {
        opacity: 1;
      }
    }
  }
}