[data-popup-overflow] {
  --padding: 2rem;

  padding: calc(var(--header-height) + var(--padding)) var(--padding) var(--padding) !important;

  // responsive
  @include responsive('mobile') {
    --padding: 1.5rem;
  }
}

// toggle popup
html[class*="-is-open"] {
  overflow: hidden;
}

html:not(.notification-is-open) body.register [data-popup] {
  opacity: 0;
  visibility: hidden
}

// custom toggle
[data-custom-toggle-content]:not(.active) {
  opacity: 0;
  visibility: hidden;
}