// container
.container {
  max-width: calc(var(--container) + 2 * var(--gap-container));
  padding-left: var(--gap-container);
  padding-right: var(--gap-container);
  margin-left: auto;
  margin-right: auto;
}

/* Make the section full width */
.container .container-full-width {
  margin-left: calc(-1 * var(--gap-side));
  margin-right: calc(-1 * var(--gap-side));
}

/* bottom spacing */
.margin-bottom-default {
  margin-bottom: 5rem;
}

.margin-bottom-small {
  margin-bottom: 2rem;
}

.margin-bottom-medium {
  margin-bottom: 3.5rem;
}

.margin-bottom-large {
  margin-bottom: 7rem;
}