// container
.container,
.container-large {
  max-width: calc(var(--container) + 2 * var(--gap-container));
  padding-left: var(--gap-container);
  padding-right: var(--gap-container);
  margin-left: auto;
  margin-right: auto;
}

.container-large {
  max-width: calc(1280px + 2 * var(--gap-container));
}

/* Make the section full width */
.container .container-full-width {
  margin-left: calc(-1 * var(--gap-side));
  margin-right: calc(-1 * var(--gap-side));
}

// text
.txt_14px {
  font-size: var(--fz-14);
}


.txt_color_error {
  color: var(--color-error);
}

.txt_color_success {
  color: var(--color-success);
}