/****************************
* Header
****************************/
.header {
  height: var(--header-height);
  padding: 0 var(--gap-container);
  background: var(--header-color);

  transition: transform .5s ease;

  // logo
  &__logo {
    height: var(--header-logo);
    aspect-ratio: 3/2;
  }

  // col
  &__col {
    gap: 2rem;
  }

  // burger
  &__burger {
    width: 2.5rem;
    height: 2rem;

    display: block;

    // line
    span {
      --height: 2px;

      position: absolute;
      top: 0;
      left: 0;

      display: block;
      width: 100%;
      height: var(--height);

      background: black;

      &:nth-child(2) {
        top: calc(50% - var(--height) * 0.5);
        right: 0;
        left: unset;

        width: 70%;
      }

      &:nth-child(3) {
        top: unset;
        bottom: 0;
      }
    }
  }

  // cart
  &__cart {

    .cart-amount {
      position: absolute;
      bottom: 0;
      right: 0;
      transform: translate(20%, 30%);

      display: flex;
      align-items: center;
      justify-content: center;

      font-size: 1rem;
      font-weight: 700;

      min-width: 1.6rem;
      padding: .1rem;
      aspect-ratio: 1;
      background: #fab005;
      border-radius: 50%;
    }
  }
}

// scroll middle
html.scroll-middle.scroll-up .header,
html.scroll-middle.scroll-bottom .header {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

html:not(.scroll-up):not(.scroll-bottom).scroll-middle .header {
  transform: translateY(-100%);
}

/****************************
* Menu
****************************/
ul.menu {
  display: flex;
  align-items: center;
  gap: 2rem;

  li {
    // clear bottom spacing
    &:not(:last-child) {
      margin-bottom: 0;
    }

    // permalink
    a {
      color: var(--text-color);
      text-decoration: none;

      // hover, focus
      &:hover, &:focus {
        color: var(--color-secondary);
      }
    }
  }
}


/****************************
* Mobile Menu
****************************/
.mobile-menu-wrapper {
  top: var(--header-height);
  height: calc(100vh - var(--header-height));

  display: flex;
  justify-content: flex-end;
  overflow: hidden;

  // overlay
  .overlay {
    background: rgba(0, 0, 0, 0.2);
    transition: all .5s ease;
  }

  // mobile menu
  .mobile-menu {
    width: 100%;
    max-width: 400px;
    padding: 6rem 2rem;

    height: 100%;
    background: #fff;

    transition: transform .5s ease;

    // responsive
    @include responsive('mobile') {
      max-width: 100%;
      padding: 3rem 2rem;
    }
  }

  // menu
  ul.menu {
    flex-direction: column;
    gap: 0;

    // item
    li {
      padding: 1.4rem 0;
      width: 100%;
      border-top: 1px solid #ccc;

      // link
      a {
        font-size: 2rem;
      }

    }
  }
}

html.mobile-menu-is-open {
  overflow: hidden
}

html:not(.mobile-menu-is-open) .mobile-menu-wrapper {
  pointer-events: none;

  // overlay
  .overlay {
    opacity: 0;
    visibility: hidden;
  }

  // mobile menu
  .mobile-menu {
    transform: translateX(100%);
  }
}