/******************************
* Image Slider
*******************************/
.image-slider {
  --item-lr-padding: 1rem;

  // responsive
  @include responsive('mobile') {
    --item-lr-padding: .5rem;
  }

  // content
  &__content {
    max-width: 1000px;

    margin-bottom: var(--spacing-40);
    margin-left: auto;
    margin-right: auto;
  }

  // image
  &__image {
    aspect-ratio: 6/4;
    width: 400px;

    padding: 0 var(--item-lr-padding);

    // responsive
    @include responsive('tablet-v') {
      width: 280px;
    }
  }
}

/****************************
 * Flickity > Avoid layout shift
****************************/
.image-slider__images:not(.flickity-enabled) > *:not(:first-child) {
  display: none;
}

/******************************
* Responsive
*******************************/
