/******************************
* Image Slider
*******************************/
.image-slider {
  --item-lr-padding: 1rem;

  // responsive
  @include responsive('mobile') {
    --item-lr-padding: .5rem;
  }

  // content
  &__content {
    margin-bottom: var(--spacing-40);
  }

  // image
  &__image {
    aspect-ratio: 6/4;
    width: 500px;

    padding: 0 var(--item-lr-padding);

    // responsive
    @include responsive('tablet-v') {
      width: 280px;
    }
  }
}

/******************************
* Responsive
*******************************/
