body.account-page {
  --image-width: 100px;

  --trigger-width: 300px;
  --receiver-width: calc(100% - var(--trigger-width));

  background: var(--color-gray);

  // site title
  .site-title {
    padding-top: 2rem;
    margin-bottom: 3rem;
  }

  // triggers
  .account-triggers {
    width: var(--trigger-width);
    padding-right: var(--gap-container);

    // button
    button {
      width: 100%;
      background: #fff;
      border: none;
      min-height: 5rem;
      padding: .5rem 2rem;

      font-size: 1.6rem;
      text-align: left;

      // active
      &.active {
        background: var(--color-secondary);
        color: #fff;
      }

      // hover
      &:hover:not(.active) {
        background: rgba(34, 113, 177, 0.1);
      }
    }

    & .account-trigger-item:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }

  // receivers
  .account-receivers {
    width: var(--receiver-width);
  }


  @include responsive('tablet-h') {
    --trigger-width: 100%;
    --receiver-width: 100%;

    // triggers
    .account-triggers {
      margin-bottom: 3rem;
      padding-right: 0;

      display: flex;
      gap: 1rem;

      overflow: auto;

      // button
      button {
        min-height: 4rem;
        padding: .5rem 1rem;

        white-space: nowrap;
        font-size: 1.4rem;
      }
    }

  }


  // item
  .order-history__item {

    padding: 2rem 1.5rem;
    background: #fff;

    // bottom spacing
    &:not(:last-child) {
      margin-bottom: 3rem;
    }
  }

  // variations
  .order-history__variations {
    background: #ffe8cc;
    padding: 1rem;
  }

  // variation
  .order-history__variation {
    background: #fff;
    padding: 1rem;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  // image
  .order-history__image {
    width: var(--image-width);
  }

  // content
  .order-history__product-content {
    width: calc(100% - var(--image-width));
    padding-left: 1.5rem;

    // heading
    .order-history__attributes,
    .order-history__product-name {
      margin-bottom: .5rem;
    }
  }
}