body.products {
  background: var(--color-gray);

  // site title
  .site-title {
    padding-top: 2rem;
    margin-bottom: 1.5rem;
  }

  // products
  a.product-item {
    transition: none;
  }

  // category
  .category {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;

    // item
    &__item {
      padding: .5rem 2rem;
      display: inline-block;
      background: #ddd;

      text-align: center;
      text-decoration: none;
      font-size: 1.4rem;

      min-height: 3rem;
      min-width: 6rem;
      border-radius: 30px;

      // active
      &.active {
        background: var(--color-secondary);
        color: #fff;
      }

      // hover
      &:hover:not(.active) {
        background: var(--color-primary);
        color: #fff;
      }
    }
  }

  // product list
  .product-list {
    --grid-col: 3;
    --grid-gap-x: 0px;
    --grid-gap-y: 0px;
    --gap: 8px;

    margin: 0 calc(-1 * var(--gap)) 7rem;

    // responsive
    @include responsive('tablet-v') {
      --grid-col: 2;
    }
    @include responsive('mobile') {
      --grid-col: 1
    }

    .product-item {
      padding: var(--gap);
    }
  }
}