<footer class="footer txt_color_white">
    <div class="container">
        <div class="footer__top fl-grid">
            <div class="footer__col col-4 boil-content">
                <div class="footer__heading"><h4>E:</h4></div>
                <div class="footer__content">
                    <p><a href="mailto:boilcmsco@gmail.com">office@boilcms.co</a></p>
                </div>
            </div>

            <div class="footer__col col-4 boil-content">
                <div class="footer__heading"><h4>T:</h4></div>
                <div class="footer__content">
                    <p><a href="tel:0123456789">+2 9 09 1997 22 (whatsapp)</a></p>
                    <p><a href="tel:0123456789">+2 9 09 1997 22 (eu)</a></p>
                    <p><a href="tel:0123456789">+2 9 09 1997 22 (vn)</a></p>
                </div>
            </div>

            <div class="footer__col col-2 boil-content">
                <div class="footer__heading"><h4>S.N:</h4></div>
                <div class="footer__content">
                    <p><a href="#">instagram</a>, <a href="#">youtube</a></p>
                    <p><a href="#">facebook</a>, <a href="#">twitter</a></p>
                    <p><a href="#">pinterest</a></p>
                </div>
            </div>

            <div class="footer__col col-2">
                <div class="footer__content">
                    <div class="ta-right">
                        <ul class="list-style-none">
                            <li><a href="/about-us/">About Us</a></li>
                            <li><a href="/products/">Products</a></li>
                            <li><a href="/contact/">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

        <div class="footer__bottom fl-grid jc-space-between">
            <div>
                <p>BoilCMS © 2023</p>
            </div>
            <div>
                <p>Website by <a href="#">BoilCMS</a></p>
            </div>
        </div>
    </div>
</footer>