<header class="header ps-fixed t0 l0 w100 z99999999">

    <div class="fl-center-v jc-space-between">

        <div class="header__col left fl-center-v">
            <a class="d-block header__logo img-wrapper-contain" href="/">
                <img src="/themes/default.png" alt="logo image">
            </a>
            <div class="header__pages">
                <ul class="menu">
                    <li class="menu-item"><a href="/">Home</a></li>
                    <li class="menu-item"><a href="/about-us">About Us</a></li>
                    <li class="menu-item"><a href="/products">Products</a></li>
                    <li class="menu-item"><a href="/contact">Contact</a></li>
                </ul>
            </div>
        </div>

        <div class="header__col right fl-center-v">

            <div class="header__login">
                <button class="btn_primary">Login</button>
            </div>

            <div class="header__search">
                <button class="tt-uppercase clear-button-style">Search</button>
            </div>

            <button class="header__burger clear-button-style ps-relative">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>

    </div>

</header>