/************************
* Products Detail Layout
*************************/

.products__item--link {
  text-decoration: none;
}

.products__item--title > .products__item--link {
  font-weight: 600;
}

.products__item--link.trash {
  --permalink-color: var(--color-error);
}

/* utils */
.products__item--utils {
  padding-top: 4px;
  font-size: 13px;
}

.products__item--utils .products__item--link {
  position: relative
}

.products__item--utils .products__item--link:not(:last-child) {
  padding-right: 10px;
  margin-right: 6px;
  display: inline-block;
}

.products__item--utils .products__item--link:not(:last-child):after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  width: 1px;
  height: 80%;
  background-color: var(--color-gray);
}


/* hover */
@media (hover: hover) {

  // min with 768px
  @include responsive('tablet-v', true) {
    /* utils */
    .products__item--utils {
      opacity: 0;
      transition: opacity 0.3s ease;
    }

    .products-list__item:hover .products__item--utils,
    .products-list__item:focus .products__item--utils {
      opacity: 1;
    }
  }
}

.product-detail {

  // min width 768px
  @include responsive('tablet-v', true) {
    // left
    &__left {
      width: 75%;
      padding-right: 2rem;
    }

    // right
    &__right {
      width: 25%;

      // easy select
      .easy-select {
        width: 100%;
      }
    }
  }

  // max with 657px
  @include responsive('tablet-v') {
    // left
    &__left {
      margin-bottom: 2rem;
    }
  }

  // preview media
  [data-preview-media] {
    gap: .5rem;

    // media item
    [data-selected-media-item] {
      width: 60px;
    }
  }

  // form validation
  // form fields
  .form-fields {
    .description {
      display: none;
    }

    // has invalid class
    .invalid > .description {
      display: block;
    }
  }
}

/************************
* Variable Products
*************************/
[data-variable-product] {

  // tabs
  [data-tab] {
    --border-color: #ccc;
    --border: 1px solid var(--border-color);
    border: var(--border);

    // triggers
    [data-tab-triggers] {
      position: relative;

      // fake left line
      &:after {
        content: "";
        position: absolute;

        top: 0;
        right: 0;

        width: 1px;
        height: 100%;
        background: var(--border-color);
      }

      // trigger
      [data-trigger] {
        min-height: 3rem;
        padding: .5rem;
        width: 100%;

        // active
        &.active {
          background: var(--color-secondary);
          color: #fff;
        }
      }

      // trigger wrapper
      [data-trigger-wrapper] {
        &:not(:last-child) {
          border-bottom: var(--border);
        }
      }
    }

    // receivers
    [data-tab-receivers] {

      [data-receiver] {
        padding: 2rem;
      }

    }

  }

  // attributes
  [data-product-attributes] {

    // item
    [data-product-attribute-item] {

      padding: 1.2rem;
      background: #fff;

      // receiver wrapper
      [data-attr-receiver] .form-fields {
        padding-top: 1rem;
      }

      // bottom spacing
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }

    // button
    [data-product-attribute-buttons] {
      gap: .4rem;

      button {
        min-width: 40px;
      }
    }
  }

  // variations
  [data-product-variations] {

    // item
    [data-product-variation-item] {
      padding: 1.2rem;
      background: #fff;

      // bottom spacing
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }

    // button
    [data-variable-product-buttons] {
      gap: .4rem;

      button {
        min-width: 40px;
      }
    }
  }

  // tabs
  [data-tab-receivers] {
    transition: height .1s ease;
  }
}