/************************
* Products Detail Layout
*************************/
.product-detail {

  // min width 768px
  @include responsive('tablet-v', true) {
    // left
    &__left {
      width: 75%;
      padding-right: 2rem;
    }

    // right
    &__right {
      width: 25%;

      // easy select
      .easy-select {
        width: 100%;
      }
    }
  }

  // max with 657px
  @include responsive('tablet-v') {
    // left
    &__left {
      margin-bottom: 2rem;
    }
  }

}

/************************
* Variable Products
*************************/
[data-variable-product] {

  // form fields
  .form-fields {
    .description {
      display: none;
    }

    // has invalid class
    .invalid > .description {
      display: block;
    }
  }

  // tabs
  [data-tab] {
    --border-color: #ccc;
    --border: 1px solid var(--border-color);
    border: var(--border);

    // triggers
    [data-tab-triggers] {
      position: relative;

      // fake left line
      &:after {
        content: "";
        position: absolute;

        top: 0;
        right: 0;

        width: 1px;
        height: 100%;
        background: var(--border-color);
      }

      // trigger
      [data-trigger] {
        min-height: 3rem;
        padding: .5rem;
        width: 100%;

        // active
        &.active {
          background: var(--color-secondary);
          color: #fff;
        }
      }

      // trigger wrapper
      [data-trigger-wrapper] {
        &:not(:last-child) {
          border-bottom: var(--border);
        }
      }
    }

    // receivers
    [data-tab-receivers] {

      [data-receiver] {
        padding: 2rem;
      }

    }

  }

  // attributes
  [data-product-attributes] {

    // item
    [data-product-attribute-item] {
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }

  // variations
  [data-preview-media] {
    gap: .5rem;

    // media item
    [data-selected-media-item] {
      width: 60px;
    }
  }

  // tabs
  [data-tab-receivers] {
    transition: height .1s ease;
  }

}