<div class="admin-panel txt_color_white">
    <div class="admin__panel--left" data-toggle="sidebar">
        <button class="admin-panel__menu show-tablet-h">
            <span class="admin-panel__menu-bar"></span>
            <span class="admin-panel__menu-bar"></span>
            <span class="admin-panel__menu-bar"></span>
        </button>
        <div class="admin-panel__logo">
            <a href="/">Logo</a>
        </div>
    </div>
    <div class="admin__panel--right">
        <div class="admin-panel__account">
            <p>Hola, <%= user.name %></p>
        </div>
    </div>
</div>
