<div data-type="<%= type; %>" data-param="<%= paramName; %>" class="<%= classesName; %>">

    <div data-param-value id="editor-container"></div>

    <% if (description) { %>
        <div class="description"><%= description %></div>
    <% } %>
</div>