<div data-type="<%= type %>" data-param="<%= paramName; %>" class="<%= classesName; %>">
    <div data-param-value>
        <label for="text-field"></label>
        <input name="text-field" placeholder="Type something..."/>
    </div>

    <% if (description) { %>
        <div class="description"><%= description ;%></div>
    <% } %>
</div>