html {
  font-size: 62.5%;

  @include responsive('tablet-v') {
    font-size: 60%;
  }
}

body {
  background-color: var(--bg-color);
  padding-top: var(--header-height);
  min-height: 100vh;

  font-family: var(--primary-font);
  font-weight: 400;
  line-height: 1.5;
  font-size: 1.6rem;
  color: var(--text-color);
}

/* Txt color white */
.txt_color_white {
  --color-text: var(--color-white);
  --color-heading: var(--color-white);
  --permalink-color: var(--color-white);
  --permalink-color-hover: var(--color-secondary);
  color: var(--color-white);
}

// list
.txt_color_white ul > li:before {
  background: white;
  border-color: white;
}

// button
button.clear-button-style {
  background: transparent;
  border: none;
}

/* common button style */
[class*="btn_"] {
  --btn-bg-color: var(--color-secondary);
  --btn-bg-color-hover: var(--color-primary);
  --btn-color: var(--color-white);
  --btn-color-hover: var(--color-white);

  padding: .5rem .8rem;
  min-height: 3rem;
  min-width: 6rem;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 0;
  border: none;
  background: var(--btn-bg-color);

  text-decoration: none;
  font-weight: 600;
  color: var(--btn-color);
  line-height: 1.2;

  transition: all .3s ease;

  // hover
  &:hover,
  &:focus {
    background: var(--btn-bg-color-hover);
    color: var(--btn-color-hover);
  }
}

/* bottom spacing */
.margin-bottom-default {
  margin-bottom: 5rem;
}

.margin-bottom-small {
  margin-bottom: 2rem;
}

.margin-bottom-medium {
  margin-bottom: 3.5rem;
}

.margin-bottom-large {
  margin-bottom: 7rem;
}

/* loading */
.loading {
  position: relative;
}

.loading:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.9);
}

.loading:after {
  --loading-size: 35px;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  width: var(--loading-size);
  height: var(--loading-size);
  margin: calc(-0.5 * var(--loading-size)) 0 0 calc(-0.5 * var(--loading-size));
  border-radius: 50%;
  border: 2px dashed transparent;
  border-bottom-color: var(--color-primary);
  border-right-color: var(--color-primary);
  animation: spinner .6s linear infinite;
  box-sizing: border-box;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

// add to the body
body > .loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
}