/********************************
* Permalink and button
*********************************/
a, button {
  color: var(--permalink-color);
  outline: none;
  transition: all .3s ease;
}

button {
  cursor: pointer;
}

button:disabled {
  pointer-events: none;
  opacity: .5;
}

a {
  text-decoration: underline;
}

.boil-content a:hover,
.boil-content a:focus {
  color: var(--permalink-color-hover);
}

/* a11y */
a:focus-visible,
button:focus-visible {
  box-shadow: inset 0 0 0 2px var(--color-secondary);
}

// ul
ul {
  li:not(:last-child) {
    margin-bottom: 1rem;
  }
}

/*******************************
* Headings and paragraph
********************************/
h1, h2, h3, h4, h5, h6 {
  color: var(--color-heading);
  display: block;
  font-family: var(--primary-font);
  line-height: 1.15;
  font-weight: 600;
  letter-spacing: -0.02em;
}

.boil-content [class*="heading-1"],
h1 {
  font-size: var(--size-h1);
}

.boil-content [class*="heading-2"],
h2 {
  font-size: var(--size-h2);
}

.boil-content [class*="heading-3"],
h3 {
  font-size: var(--size-h3);
}

.boil-content [class*="heading-4"],
h4 {
  font-size: var(--size-h4);
}

.boil-content [class*="heading-5"],
h5 {
  font-size: var(--size-h5);
}

.boil-content [class*="heading-6"],
h6 {
  font-size: var(--size-h6);
}

/* inside boil-content */
.boil-content {
  // heading
  h1, h2, h3, h4, h5, h6,
  [class*="heading-1"], [class*="heading-2"], [class*="heading-3"],
  [class*="heading-4"], [class*="heading-5"], [class*="heading-6"] {
    margin-bottom: 2rem;
  }

  // paragraph
  p {
    margin-bottom: 1.8rem;
  }

  // bottom spacing
  & :last-child {
    margin-bottom: 0;
  }

  // list

  /* Default unordered list for text block */
  ul {
    list-style: none;
    margin: 0;
  }

  ul ul {
    padding-top: 1.5rem;
  }

  ul:not(:last-child) {
    margin-bottom: 30px;
  }

  ul > li {
    padding: 0 0 0 2rem;
    position: relative;
  }

  ul > li:not(:last-child) {
    margin-bottom: 1rem;
  }

  ul > li:before {
    content: "";
    position: absolute;
    top: .5em;
    left: 0;
    width: 4px;
    height: 4px;
    border-radius: 50px;
    background: #000;
    border: 1px solid #000;
  }

  ul ul > li:before {
    background: #fff;
  }
}